apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: txdx
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: txdx
    app.kubernetes.io/part-of: byoc-app-nkvu
  name: txdx
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: txdx
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: txdx
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/byoc-dppc-tenant/byoc-app-nkvu/txdx@sha256:d9db21d20fbd700e8653b881be51687cf4f151b137d5f9869ee4b4eade508e5c
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
