apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: txdx
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - env:
        - name: POC
          value: POC
        image: quay.io/redhat-appstudio-qe/byoc-dppc-tenant/byoc-app-nkvu/txdx@sha256:d9db21d20fbd700e8653b881be51687cf4f151b137d5f9869ee4b4eade508e5c
        name: my-java-quarkus
        resources: {}
status: {}
